@font-face {
    font-family: 'minecraftregular';
    src: url('../font/minecraft-webfont.eot');
    src: url('../font/minecraft-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/minecraft-webfont.woff') format('woff'),
         url('../font/minecraft-webfont.ttf') format('truetype'),
         url('../font/minecraft-webfont.svg#minecraftregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.splash{
/*General*/
font-size:25px;
color:yellow;
font-family:minecraftregular;
text-shadow: 2px 2px 0px #000;
display:inline-block;
margin-top: 20px;
margin-bottom: 20px;

/*Animation*/
animation-name: mcsplash;
animation-duration: 400ms;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-play-state: running;

-moz-animation-name: mcsplash;
-moz-animation-duration: 400ms;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;
-moz-animation-direction: alternate;
-moz-animation-play-state: running;

-webkit-animation-name: mcsplash;
-webkit-animation-duration: 400ms;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-play-state: running;

-o-animation-name: mcsplash;
-o-animation-duration: 400ms;
-o-animation-timing-function: linear;
-o-animation-iteration-count: infinite;
-o-animation-direction: alternate;
-o-animation-play-state: running;
}

@keyframes mcsplash
{
0%{
transform: 			rotate(-20deg) scale(1.00);
-webkit-transform:  rotate(-20deg) scale(1.00);
-moz-transform: 	rotate(-20deg) scale(1.00);
-o-transform: 		rotate(-20deg) scale(1.00);
-ms-transform: 		rotate(-20deg) scale(1.00);
}
100%{
transform:          rotate(-20deg) scale(0.950);
-webkit-transform:  rotate(-20deg) scale(0.950);
-moz-transform:     rotate(-20deg) scale(0.950);
-o-transform:       rotate(-20deg) scale(0.950);
-ms-transform:      rotate(-20deg) scale(0.950);
}
}

@-moz-keyframes mcsplash
{
0%{
transform: 			rotate(-20deg) scale(1.00);
-webkit-transform:  rotate(-20deg) scale(1.00);
-moz-transform: 	rotate(-20deg) scale(1.00);
-o-transform: 		rotate(-20deg) scale(1.00);
-ms-transform: 		rotate(-20deg) scale(1.00);
}
100%{
transform:          rotate(-20deg) scale(0.950);
-webkit-transform:  rotate(-20deg) scale(0.950);
-moz-transform:     rotate(-20deg) scale(0.950);
-o-transform:       rotate(-20deg) scale(0.950);
-ms-transform:      rotate(-20deg) scale(0.950);
}
}

@-webkit-keyframes mcsplash /* Safari and Chrome */
{
0%{
transform: 			rotate(-20deg) scale(1.00);
-webkit-transform:  rotate(-20deg) scale(1.00);
-moz-transform: 	rotate(-20deg) scale(1.00);
-o-transform: 		rotate(-20deg) scale(1.00);
-ms-transform: 		rotate(-20deg) scale(1.00);
}
100%{
transform:          rotate(-20deg) scale(0.950);
-webkit-transform:  rotate(-20deg) scale(0.950);
-moz-transform:     rotate(-20deg) scale(0.950);
-o-transform:       rotate(-20deg) scale(0.950);
-ms-transform:      rotate(-20deg) scale(0.950);
}
}

@-o-keyframes mcsplash
{
0%{
transform: 			rotate(-20deg) scale(1.00);
-webkit-transform:  rotate(-20deg) scale(1.00);
-moz-transform: 	rotate(-20deg) scale(1.00);
-o-transform: 		rotate(-20deg) scale(1.00);
-ms-transform: 		rotate(-20deg) scale(1.00);
}
100%{
transform:          rotate(-20deg) scale(0.950);
-webkit-transform:  rotate(-20deg) scale(0.950);
-moz-transform:     rotate(-20deg) scale(0.950);
-o-transform:       rotate(-20deg) scale(0.950);
-ms-transform:      rotate(-20deg) scale(0.950);
}
}